<p style="padding-top:40px;">
<table ng-if="droplets" class="table table-striped">
  <thead>
    <tr>
      <td>Name</td>
      <td>IP</td>
      <td>Status</td>
      <td>Action</td>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="droplet in droplets">
      <td>{{ droplet.name }}</td>
      <td>{{ droplet.ip_address }}</td>
      <td>{{ droplet.status }}</td>
      <td><a href ng-click="reboot(droplet.id)" title="Reboot droplet"><img src="images/icon_reboot.png" alt="Reboot droplet" /></a></td>
    </tr>
  </tbody>
</table>{{ message }}
</p>