<p style="padding-top:40px;">
<form role="form" ng-submit="submit()">
  <div class="form-group">
    <label for="clientId">Client ID</label>
    <input type="text" class="form-control" ng-model="clientId" id="clientId" placeholder="Enter Client ID">
  </div>
  <div class="form-group">
    <label for="apiKey">API Key</label>
    <input type="password" class="form-control" ng-model="apiKey" id="apiKey" placeholder="Enter API Key">
  </div>
  <button type="submit" class="btn btn-default">Save</button> 
  <span ng-switch on="authorizationStatus" style="padding-left:10px;">
    <span ng-switch-when="loading">Please wait...</span>
    <span ng-switch-when="true" style="color:green;">{{ message }}</span>
    <span ng-switch-when="false"  style="color:red;">{{ message }}</span>
  </span>
</form>
</p>